<% layout('ly') -%>

<main class="container-fluid logmain">
     <form class="logIn" action="val" method="post">
          <div class="row">
               <h1 class="col-md-12">Balcon de Yambo</h1>
          </div>
          <div class="row">
               <label for="user" class="col-md-6">Usuario: </label>
               <input type="text" name="user" id="user" value="" class="col-md-6" placeholder="yambo">
          </div>
          <div class="row">
               <label for="pwrd" class="col-md-6">Contraseña: </label>
               <input type="password" name="pwrd" id="pwrd" value="" class="col-md-6" placeholder="********">
          </div>
          <div class="row">
               <input type="submit" name="" value="log-in" class="col-md-12">
          </div>
     </form>
</main>
