<!DOCTYPE html>
<html lang="es" dir="ltr">
     <head>
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta charset="utf-8">
          <title>Yambo <%= name %></title>
          <link rel="stylesheet" href="/lib/bootstrap/bootstrap.css">
          <link rel="stylesheet" href="/public/css/master.css">
          <link rel="icon" href="/assets/logo.png" type="image/png">
          <script src="/lib/react/react.development.js" charset="utf-8" crossorigin></script>
          <script src="/lib/react-dom/react-dom.development.js" charset="utf-8" crossorigin></script>
          <script src="/public/js/main.js" charset="utf-8"></script>
     </head>
     <body>
          <%-body -%>
     </body>
</html>
